.navbar {
  margin-bottom: 80px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  margin-right: auto;
}

.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}
.img {
  width: 36px;
  margin-right: 10px;
}
