@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Montserrat:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dfe0f3;
  font-family: "Maven Pro", sans-serif;
}

.full {
  background-color: red;
  min-height: 100vh;
}
